body{color:#ccc;background-color:#40464b}
ol.ans{list-style-type: upper-alpha}
label:hover{font-weight:bold;color:#eee;cursor: pointer}
input[type="radio"] {display:none} 
input[type="radio"] + span{
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(check_radio_sheet.png) -38px top no-repeat;
}
input[type="radio"]:checked + span{
    background:url(check_radio_sheet.png) -57px top no-repeat;
}